  .menu-overflow::-webkit-scrollbar {
      width: 3px;
      height: 3px;
  }

  .menu-overflow::-webkit-scrollbar-track {
      background: transparent;
  }

  .menu-overflow::-webkit-scrollbar-thumb {
      background-color: hsl(var(--secondary));
      border-radius: 1px;
      border: 1px solid transparent;
      background-clip: padding-box;
  }

  .menu-overflow::-webkit-scrollbar-thumb:hover {
      background-color: hsl(var(--muted-foreground));
  }

  .menu-overflow {
      scrollbar-width: thin;
      scrollbar-color: hsl(var(--secondary)) transparent;
  }